<h1>
    SoilFIT Soil Health Card and Recommendations
</h1>

  <table>
    <tr>
      <td>Nitrogen (mg/kg):</td>
      <td>{{N}}</td>
    </tr>
    <tr>
      <td>Phosphorous (mg/kg):</td>
      <td>{{P}}</td>
    </tr>
    <tr>
      <td>Potassium (mg/kg):</td>
      <td>{{K}}</td>
    </tr>
    <tr>
      <td>Acidity (pH)::</td>
      <td>{{A}}</td>
    </tr>
    <tr>
      <td>Temperature (Deg. F):</td>
      <td>{{T}}</td>
    </tr>
    <tr>
      <td>Moisture (RH %):</td>
      <td>{{M}}</td>
    </tr>
    <tr>
      <td>Rainfall (mm):</td>
      <td>{{R}}</td>
    </tr>
    </table>
<h3>Crop Recommendation Based on Soil Parameters:</h3>
<table>
    <tr>
      <td><h4>Recommended Crop: </h4></td>
      <td><h4>{{crop}}</h4></td>
    </tr>
  </table>
<h3>Soil Nutrient Deficiencies for the Recommended Crop:</h3>
<table>

    <tr>
      <td>Nitrogen: </td>
      <td>{{n_def}}</td>
    </tr>
  <tr>
      <td>Phosphorous:</td>
      <td>{{p_def}}</td>
    </tr>
  <tr>
      <td>Potassium: </td>
      <td>{{k_def}}</td>
    </tr>
  <tr>
      <td>pH Value: </td>
      <td>{{a_def}}</td>
    </tr>
  </table>
<h3>Fertilizer Recommendations for the crop to overcome nutrient deficiencies:</h3>
<table>

    <tr>
      <td>Nitrogen: </td>
      <td>{{n_recco}}</td>
    </tr>
  <tr>
      <td>Phosphorous:</td>
      <td>{{p_recco}}</td>
    </tr>
  <tr>
      <td>Potassium: </td>
      <td>{{k_recco}}</td>
    </tr>
  <tr>
      <td>pH Value: </td>
      <td>{{a_recco}}</td>
    </tr>
  </table>
</form>