<h1>
    SoilFIT Crop Recommender System
</h1>
<form method="post">
  <table>
    <tr>
      <td>Nitrogen (mg/kg):</td>
      <td><input name="N"/></td>
    </tr>
    <tr>
      <td>Phosphorous (mg/kg):</td>
      <td><input name="P"/></td>
    </tr>
    <tr>
      <td>Potassium (mg/kg):</td>
      <td><input name="K"/></td>
    </tr>
    <tr>
      <td>Acidity (pH)::</td>
      <td><input name="A"/></td>
    </tr>
    <tr>
      <td>Temperature (Deg. F):</td>
      <td><input name="T"/></td>
    </tr>
    <tr>
      <td>Moisture (RH %):</td>
      <td><input name="M"/></td>
    </tr>
    <tr>
      <td>Rainfall (mm):</td>
      <td><input name="R"/></td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>